/*all*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
    color: white;
    cursor: default;
    z-index: 0;
    scroll-behavior: smooth;
}

/*scrollbar custom settings*/
::-webkit-scrollbar{
    width: 1.1vw;
}
::-webkit-scrollbar-track{
    background: rgb(41, 41, 41);
    box-shadow: inset 0 0 .3vw rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(78, 78, 78);
    box-shadow: inset 0 0 .15vw rgb(63, 63, 63);
    box-shadow: inset 0 0 .5vw rgb(0, 0, 0);
    border-radius: 1vw;
}

/*layout*/
#layout div{
    padding: 0;
    height: 88.5vh;
}

/*navbar*/
nav{
    position: fixed;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    padding: 2.4vh 2vw;
    top: 0%;
    text-align: right;
    background-color: rgb(0, 8, 85);
    box-shadow: inset 0 0 .5vw rgb(0, 0, 0);
}
nav span{
    padding: 0 1.5vw;
    background-color: rgb(0, 8, 85);
}
nav img{
    width: 20vw;
    height: 6vh;
    object-fit: contain;
    background-color: rgb(0, 8, 85);
    border-radius: .5vw;
    padding: 1vh .5vw;
    transition: all .5s;
}
nav a{
    background-color: rgb(0, 8, 85);
}
nav img:hover{
    cursor: pointer;
    filter: brightness(50%);
    transition: all .5s;
}
links{
    margin-top: 0.7vh;
    background-color: rgb(0, 8, 85);
}
links a{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(0, 8, 85);
    border-bottom: .1em solid transparent;
    transition: all .5s;
}
links a:hover{
    cursor: pointer;
    color: rgb(248, 120, 0);
    border-color: rgb(192, 94, 1);
    transition: all .5s;
}

/*define scroll position*/
#imgList, #description, #videogame, #dashboard{
    position: relative;
}
.scroll{
    position: absolute;
    top: -10.9vh;
    opacity: 0;
}

/*main list of images*/
#imgList{
    margin-top: 11vh;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
#slides{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
#backButton, #frontButton{
    position: absolute;
    height: 100%;
    width: 2.5%;
    outline: none;
    font-weight: bold;
    border: 0 solid white;
    border-top: 0 solid white;
    border-bottom: 0 solid white;
    background-color: rgb(15, 15, 15);
}
#backButton:hover, #frontButton:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 24);
}
#backButton:active, #frontButton:active{
    background-color: rgb(31, 31, 31);
    border: .05em solid white;
    border-top: 0 solid white;
    border-bottom: 0 solid white;
}
#backButton{
    left: 0;
}
#frontButton{
    right: 0;
}
#imgList div{
    border: 0 solid white;
}
#slides div{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
#slides img, #slides video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
}
#slides video{
    object-fit: contain;
}
#slides text{
    position: absolute;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#slides #logo{
    height: auto;
    width: 50vw;
    background: none;
}
#slides #subLogo{
    font-size: 2vw;
    background: none;
    padding-top: 5vh;
    font-style: italic;
}
#slides p{
    position: absolute;
    bottom: 5%;
    width: 30%;
    padding: 3vh 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: .05em solid rgb(145, 145, 145);
    border-left: 0 solid rgba(255, 255, 255, 0);
}

/*description*/
#description div{
    border: 0 solid white;
    padding: 1.5vh 3vw;
    height: auto;
    text-align: justify;
    font-size: 1.3vw;
    line-height: 5vh;
}
.titleDesc{
    font-size: 3vw !important;
    font-weight: bold;
    width: 100%;
}
#description div:nth-child(3){
    
    padding-top: 8vh;
}

/*videogame*/
#videogame div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftText, #rightText{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    border: .05em solid white;
}
#leftText div, #rightText div{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-align: justify;
    font-size: 1vw;
}
#rightText div a{
    font-size: 1vw;
    padding-top: 2vh;
    text-decoration: none;
    border-bottom: .1em solid rgba(255, 255, 255, 0);
}
#rightText div a:hover{
    color: rgb(67, 171, 255);
    border-bottom: .1em solid rgb(67, 171, 255);
    cursor: pointer;
}
.last{
    padding-bottom: 3vh !important;
}
#leftText .title, #rightText .title{
    font-size: 2vw;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
}
#leftText subtitle, #rightText subtitle{
    width: 100%;
    font-size: 1.2vw;
    font-weight: bold;
}
#leftText{
    left: 0;
}
#rightText{
    right: 0;
}
#unityContainer{
    padding: 2vw !important;
    width: 53.33vw !important;
    height: 40vw !important;
    margin: auto !important;
    max-height: 80vh !important;
    max-width: 1024px !important;
}

/*dashboard*/
grid{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .2em .2em;
    padding: .2em;
    grid-template-areas: 
    "one two"
    "three three";
}
grid data{
    padding: 1em;
    text-align: center;
    border: .1em solid grey;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}

/*bottom*/
footer{
    padding: 1em;
    font-size: 1.3vw;
    height: 10vh;
    text-align: center;
}